*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Kanit:ital@1&family=Roboto&family=Ubuntu&display=swap');


/* section heder */
header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center ;
}

.conteiner{
    margin: auto;
    width: 80%;   
}


/* nav - section */
nav{ 
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    align-items: center;    
}

.nav-lt-dx{   
    flex-basis: 20%;  
}

.nav-lt-sx{   
    flex-basis: 20%;
    background-size: 10px;    
}

.nav-lt-sx img{
    width: 50%;   
}


.nav-cen{
    flex-basis: 55%;
    text-align: center;
    font-size: 14px;       
}

.nav-cen  span{
    margin: 0px 5px;
    color: white;    
}

.nav-lt-dx button{
    padding: 5px 6px;
    border-radius: 30px;
    background-color: white;    
    margin-left: 60%;
    font-size: 14px; 
    border: none;   
}


/* titolo e testo section */
.title{
    text-align: center;
    width: 52%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 100px;
    color: white;   
}

.title > h1{
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 30px;
}

.button-mac, .button-discord{
    padding: 10px 10px;
    border-radius: 30px;
    display: inline-block;    
}

.title  .button-mac,.button-discord{
    margin-top: 5%;
}

.button-mac{
    background-color: white;
    color: black;
}
    
.button-discord{
    background-color: black;
    color: white;
}


/* main - section box */
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;     
}

.box-dx{
    flex-basis: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.box-sx{
    flex-basis: 20%;
    line-height: 25px; 
    margin-top: 10px;   
}

.box-order{
    order: 2;
}

.voice img{
    text-align: right;
    width: 100%;
}

.fandom img, .study-group img {
    text-align: left;
    width: 100%;
}


/* section quarto box - main */
.box-cl{
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;    
}

.box-column{
    
    justify-content: space-between;     
}

.cl-top, .cl-bottom{
    text-align: center;
}

.cl-top h1{
    margin-top: 50px;
    margin-bottom: 10px;
}

.cl-top p{
    
    margin: auto;
    font-size: 12px;
    width: 60%;
}

.cl-center img{
    width: 70%;    
}

.cl-center{
    text-align: center;
}

.cl-bottom .button-mac{
    background-color: rgb(154, 191, 226) ;
    margin: 2% 0;
}

.cl-bottom h3{
    background-image: url(img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    padding: 10px;
}

/* section footer */
footer{
    background-color: rgb(50, 49, 49);
}


/* section footer top */
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-social, .footer-menu {
    flex-basis: 20%;  
    margin: 15px 0;    
}

.footer-social h3{
    color: rgb(154, 191, 226);
}

.ita  img{
    height: 12px;
}

.ita{
    color: white;
    margin: 8px 0px;
    font-size: 12px;
}

.social svg{
    height: 15px;
    margin: 0 5px;
    fill: white;
}

.footer-menu {
    flex-basis: 15%;
    line-height: 25px;   
}

.footer-menu li{
   list-style: none;
}

.titolo{
    color: rgb(154, 191, 226);
    font-size: 16px;
}

.lista{
    color: white;
    font-size: 12px;
}


/* section footer botton */
.footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(154, 191, 226);
    padding: 30px 0;
}

.footer-logo, .footer-btn{
    flex-basis: 20%;
}

.footer-btn span{
    border-radius: 30px;
    background-color: rgb(154, 191, 226);
    display: inline-block;
    margin-top: 5px;
    margin-left: 60%;
    font-size: 12px;
    padding: 5px 5px;
}

